{% extends 'base.html'%}
{% block title %}
Главная страница
{% endblock %}
{% block body %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="px-3">
    <h1>Здравствуй Посетитель.</h1>
    <p class="lead">Ты находишься на моем сайте, который я создал. Во вкладке "Посты" ты можешь посмотреть мои записи.</p>

  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>
{% endblock%}